# Игнорирование файлов, сгенерированных компилятором Rust
/target/

# Игнорирование файлов сборки
**/*.rs.bk

# Файлы и директории для IDE
.idea/
.vscode/
*.iml

# Файлы, создаваемые Cargo
Cargo.lock
